# ===== Generado por simulación/síntesis (regla principal) =====
build/
obj_dir/

# ===== Simulación (Icarus / GTKWave / Verilator) =====
*.vcd
*.fst
*.fsdb
*.vvp
*.out
*.log
*.jou
*.wlf
*.gtkw.bak
*.vcd.idx

# ===== Yosys / Slang / Graphviz =====
*.dot
yosys_run.ys
run_slang_temp.ys
*.ys.log

# ===== Siemens Questa / ModelSim =====
work/
transcript
vsim.wlf
*.mti
*.mpf

# ===== OpenLane / OpenROAD / ORFS =====
runs/
*.odb
*.gds
*.oas

# ===== Vivado =====
xsim.dir/
*.runs/
*.cache/
*.hw/
*.sim/
*.ip_user_files/
*.gen/
.Xil/
*.str
*.backup.*
*.wdb
webtalk*

# ===== Quartus =====
db/
incremental_db/
output_files/
*.qws
*.sof
*.pof
*.jdi
*.sld
*.done

# ===== KiCad =====
*-backups/
*.kicad_prl
*.lck
fp-info-cache

# ===== Bitstreams (van en GitHub Releases, no en el repo) =====
*.bit
*.rbf

# ===== Editores / SO / Python / C++ =====
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
__pycache__/
*.pyc
.venv/
*.o